---
/**
 * Zimbabwe Flag Strip
 * Decorative vertical strip on the left side of the page
 * Colors: Green (agriculture), Yellow (minerals), Red (independence), Black (African people)
 */

interface Props {
  hideMobile?: boolean;
}

const { hideMobile = true } = Astro.props;
---

<div
  class:list={[
    'fixed left-0 top-0 w-2 h-screen z-50 flex flex-col',
    hideMobile && 'hidden md:flex'
  ]}
  aria-hidden="true"
>
  <div class="flex-1 bg-zimbabwe-green" title="Green - Agriculture and Fertility"></div>
  <div class="flex-1 bg-zimbabwe-yellow" title="Yellow - Mineral Wealth"></div>
  <div class="flex-1 bg-zimbabwe-red" title="Red - Blood Shed for Independence"></div>
  <div class="flex-1 bg-zimbabwe-black" title="Black - The African People"></div>
</div>
